/* popup.component.css */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  position: relative;
  background-color: #fff; /* White background for the popup */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a raised effect */
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-content h2 {
  margin-top: 0;
}
.input-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  min-height: 600px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header-div {
  width: 90%;
  justify-content: space-between;
  display: flex;
}
.task-div {
  width: 100%;
  margin-left: -92px;
  margin-top: 10px;
}
.application-div {
  display: flex;
  width: 100%;
  gap: 20px;
}
.application {
  color: white;
  padding: 5px 8px;
  background-color: #007bff;
  border-radius: 4px;
}
.application span {
  cursor: pointer;
  padding-left: 8px;
}
.warning-message {
  color: red;
  margin: 0;
}
.task-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.task-container {
  width: 100%;
}
.close-icon {
  position: absolute;
  margin: 0;
  right: 40px;
  cursor: pointer;
  width: 25px;
}
