<div class="main-container">
  <div class="header-div">
    <h1>
      {{ message }}
    </h1>
    <button
      type="button"
      class="btn btn-primary btn-lg"
      (click)="openPopup1({}, false)"
    >
      Create Stage +
    </button>
  </div>

  <div *ngIf="stages.length === 0">
    <h1 class="warning-text">
      ** Please create Stage and start implementing tasks
    </h1>
  </div>
  <div class="stage-container">
    <div class="stage-div" *ngFor="let stage of stages; let i = index">
      <div
        [style.background-color]="backgroundColors[i % backgroundColors.length]"
        class="stage-header"
      >
        <h1>{{ stage.stageName }}</h1>
        <div class="icon-container">
          <img
            (click)="openPopup2(stage, false, false)"
            src="/assets/images/white-edit.png"
          />
          <img
            (click)="openPopup2(stage, true, false)"
            src="/assets/images/white-delete.png"
          />
        </div>
      </div>
      <div class="task-container">
        <div
          cdkDropList
          [cdkDropListData]="stage.stageName"
          [cdkDropListConnectedTo]="stageNames"
          (cdkDropListDropped)="onItemDrop($event)"
          [id]="stage.stageName"
        >
          <div
            *ngFor="let task of stage.tasks"
            class="task-div"
            cdkDrag
            (cdkDragStarted)="selectedTaskData = task"
          >
            <div class="app-container">
              <div
                *ngFor="let application of task.application"
                class="app-div"
                [style.background-color]="getAppColor(application)"
              >
                {{ application }}
              </div>
            </div>
            <div class="details-div">
              <div class="text-div">
                <h1>{{ task.name }}</h1>
                <p>{{ task.description }}</p>
              </div>
              <p>{{ task.dueDate | date : "MMM dd" }}</p>
            </div>
            <div *ngIf="task.links.includes('project')" class="link-div">
              <img src="assets/images/project.png" />
              <p>Project Link &#8594;</p>
            </div>
            <div *ngIf="task.links.includes('document')" class="link-div">
              <img src="assets/images/document.png" />
              <p>Document Link &#8594;</p>
            </div>
            <div *ngIf="task.links.includes('design')" class="link-div">
              <img src="assets/images/figma.png" />
              <p>Link to design &#8594;</p>
            </div>
            <div class="assignee-div">
              <div>
                <img src="assets/images/assignee.png" />
                <p>{{ task.assignee }}</p>
              </div>
              <div>
                <img
                  (click)="openPopup1(task, true, stage._id)"
                  src="assets/images/update-icon.png"
                />
                <img
                  (click)="openPopup2(stage, false, true, task._id)"
                  src="assets/images/delete-icon.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="add-div" (click)="openPopup1(stage, false, stage._id)">
          <img src="assets/images/add-icon.png" />
        </div>
      </div>
    </div>
  </div>

  <create-popup
    [userId]="userId"
    [stage]="stage"
    [isTask]="isTask"
    [stageId]="stageId"
    *ngIf="popupService.isCreatePopupOpen"
  ></create-popup>
  <update-popup
    [userId]="userId"
    [stage]="stage"
    [deleteStage]="deleteStage"
    [deleteTask]="deleteTask"
    [taskId]="taskId"
    *ngIf="popupService.isUpdatePopupOpen"
  ></update-popup>
</div>
