<!-- popup.component.html -->
<div class="popup-container">
  <div class="popup-content">
    <div class="header-div">
      <h2>Update Stage Name</h2>
      <img
        (click)="closePopup()"
        class="close-icon"
        src="assets/images/close-icon.png"
      />
    </div>
    <div class="input-div">
      <label for="stageName">Stage Name</label>
      <input
        [(ngModel)]="stageName"
        type="text"
        id="stageName"
        name="stageName"
        placeholder="Enter Stage Name"
        required
      />
    </div>
    <button (click)="submit()">Update</button>
  </div>
</div>
